* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.cursor {
    cursor: pointer;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
}

.nav-logo {
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.logo {
    background-image: url("Images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.add-first {
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second {
    color: white;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid transparent;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.panel {
    height: 39px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 20px;

}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;

}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section {
    background-image: url("Images/hero_image.jpg");
    background-size: cover;
    height: 380px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.box {
    height: 400px;
    width: 25%;
    background-color: white;
    transition: .3s;
    padding: 20px 0 15px;
    margin-top: 15px;
    scale: 2px ;
}
.box:hover{
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
    transform: scale(1.02);
}

.box-image {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color: #007185;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    height: 50px;
    color: white;
   background-color:#37475a; 
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 340px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    font-size: 0.85rem;
    display: block;
    margin-top: 10px;
    color: #DDD;
}
.foot-panel3{
    background-color: #222f3d;
    border-top: 1px solid #3a4553;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
align-items: center;
}
.logo{
    /* background-image: url("Images/amazon_logo.png"); */
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 76px;
    text-align: center;
    padding-top: 25px;
}
.pages{
    font-size: 0.8rem;
    line-height: 30px;
}
.copyright{
    font-size: 0.7rem;

}